<!DOCTYPE>
<html>
<head>
<title>AD Food Order</title>
</head>
<center>
<body style = background-color:orange; >
<style>

form{border:5px  solid #f1f1f1;}

input[type=text]{
width:28%;
padding: 10px 20px;
margin :2px 0;
border:5px solid #ccc;
box-sizing:border-box;}

input[type=password]{
width:28%;
padding: 10px 20px;
margin :2px 0;
border:5px solid #ccc;
box-sizing:border-box;}


</style>
<h1 ><u>Welcome to My Online Food Order website</u><h2><br>
<container>
<div>
<form><p>USERNAME:<p>
<input type = "text"  placeholder ="your name"  pattern = "^[a-z]{5}$" max length =8 read only   id = "name"><br>

<p>PASSWORD:<p>
<input type = "password"  placeholder ="your password" required id = "psw"><br><br><br>
<input type="checkbox"  checked="checked" name="remember">Remember me<br>
<input type = "submit" id = "psw" value = "ok">
<input type = "reset" id = "psw" value = "cancel">

</form>
</div>
</container>
</body>
</center>
</html>